<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add| new user</title>
    <link rel="stylesheet" href="/add.css">
</head>
<body>
    <form action="/user" method="post">
        <input type="text" name="username" id="" placeholder="Enter new username">
        <input type="email" name="email" id="" placeholder="Enter email">
        <input type="password" name="password" id="" placeholder="Enter password"> 
        <button type="submit">Add new Data</button>
    </form>
</body>
</html>